.signup {
    margin: auto;
    margin-top: 50px;
    width: 200px;
    border: solid 1px rgb(0, 0, 0, 0.7);
    border-radius: 2px;
    padding: 50px;
    .example-full-width {
        min-width: 50px;
        max-width: 200px;
        width: 100%;
        margin-bottom: 20px;
    }
    .signup-btn {
        width: 100%;
        margin-top: 20px;
    }
}
