<li class="contact-preview flex  align-center" [routerLink]="['../details',contact._id]">
        <div class="flex align-center">
            <img class="profile-img" src="https://robohash.org/{{contact.name}}/.png?bgset=bg1">
            <p>{{contact.name}}</p>
            <p>{{contact.phone}}</p>
        </div>
        <nav>
            <button class="material-icons nav-btn" (click)="onRemove()">delete</button>
            <button class="material-icons nav-btn" [routerLink]="['../edit', contact._id]">create</button>
        </nav>
</li>
