/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: os;
    overflow: hidden;
}

.main-app {
    overflow: auto;
    padding-top: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
    background: none;
    border: none;
}

.back-btn {
    background-color: rgb(121, 177, 202);
    border: none;
    border-radius: 50%;
    padding: 5px;
}

button:focus {
    outline: none;
}
a {
    text-decoration: none;
}

img {
    width: 100%;
}
.profile-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
}
.mat-form-field-underline.ng-tns-c76-0.ng-star-inserted,
.mat-form-field-underline.ng-tns-c76-1.ng-star-inserted,
.mat-form-field-underline.ng-tns-c69-0.ng-star-inserted,
.mat-form-field-underline.ng-tns-c69-1.ng-star-inserted,
.mat-form-field-underline.ng-tns-c69-2.ng-star-inserted,
.mat-form-field-underline.ng-tns-c69-3.ng-star-inserted,
.mat-form-field-underline.ng-tns-c69-4.ng-star-inserted,
.mat-form-field-underline.ng-tns-c69-5.ng-star-inserted,
.mat-form-field-underline.ng-tns-c69-6.ng-star-inserted {
    background-color: rgb(0, 0, 0, 0.7) !important;
}

label#mat-form-field-label-1,
label#mat-form-field-label-2,
label#mat-form-field-label-3 {
    color: rgb(0, 0, 0, 0.7);
}

/* Flex Helpers */

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}
.flex.space-between {
    justify-content: space-between;
}
.flex.align-center {
    align-items: center;
}
mat-form-field {
    margin-right: 10px;
}
@font-face {
    font-family: os;
    src: url(./assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: ap;
    src: url(./assets/fonts/AdventPro-SemiBold.ttf);
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
